/* === START NAV BAR === */

/* This fixes navbar colors after it is collapsed*/
@media only screen and (max-width: 766px) {
    /*.collapsing, .in {background-color: white;} Changes the color of the whole dropdown block*/
    .collapsing ul li a, .in ul li a {color: white!important;} /*Changes the text color to white when the list is collapsed*/
    .collapsing ul li a:hover, .in ul li a:hover {color: gray !important;}
}
/* end */

.purchase-label{
    color: black;
}
.purchase-label:hover{
    color: white;
}
.navbar {
    background-color: #3C4A5C;
    border-radius: 0px !important;
    border-bottom: 2px solid #49a4c3;
}
#navLogo {
    display: block;
    height: 100%;
    width: auto;
}
.navbar-brand {
    width:150px;
}
.navbar .nav > li > a {
    color:  #FFFFFF;
    font-size: 10pt;
    font-weight: 400; 
}
.navbar .nav > li > a:hover{
    color:  #CCCCCC;
}

.nav-collapse, .nav-collapse.collapse {
    background-color:#3d4a5d;
    color:#fff;
    z-index:999;
}
.navbar-inverse .nav > li > a {
    outline:none;
    color: #fff;
    font-size:14px;
}

.navbar-inverse .nav > li > a:hover {
    background-color:#202d41;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #202d41;
}

ul.dropdown-menu{
    background-color: #0F2546;
    top: 105%;
}
.navbar .nav > li > .dropdown-menu:after{
     border-bottom: 6px solid #0F2546;
}

.dropdown-menu > li > a{
    color:white;
}

.navbar-inverse .divider-vertical{
    border:none;
    background-image: url('../../img/wkss/vertical_break.png');
    width:2px;
    height: 39px;
}

.double-caret{
    background-image: url('../../img/wkss/icon_dropdown_menu_header.png');
    width:9px;
    height: 12px;
    display: inline-block;
    margin-left:10px;
}
.nav-user-dropdown{
    margin-top:-10px;
}
#nav-user-info{
    display:inline-block;
}

#nav-user-dropdown-caret{
    background-image: url('../../img/wkss/btn_user_icon_dropdown_header_normal.png');
    width:32px;
    display: inline-block;
    height: 26px;
    margin-bottom: 2px;
    margin-left:10px;
}

#nav-user-welcome{
    font-size: 12px;
    color:#9fb3cb;
}

#nav-user-name{
    color:#53b4c4;
    max-width: 150px;
    overflow: hidden;
    max-height: 20px;
}

/*==== END NAV BAR ====*/

.table{
   background-color: #e3e6f4;
}

.list-container{
    border:1px solid #d9e2ea;
    box-shadow: 0 0 1px #e3e9ed;
    background-color:white;
    margin-bottom: 30px;
}
.list-container-header{
    background-color:#f6fafe;
    border-bottom: 1px solid #d7e3f0;
    height:50px;
    padding:9px 10px;
}
.list-component-container{
    display:inline-block;
    margin-top:5px;
    max-height: 35px;
    overflow: hidden;
    max-width: 62%;
}
.list-component{
    color:#263a4a;
    font-size: 16px;
    font-weight: bold;
}
.list-component-description{
    color:#6f8ba9;
    font-size: 16px;
    font-weight: bold;
}
.list-container-body{
    padding:10px 10px 20px 10px;
}
.table-list{
    width:100%;
}
.table-list>thead{
    border-bottom: 2px solid #96bfea;
}
.table-list th{
    padding:0 10px 5px 10px;
    text-align: left;
}
.table-list th.action-column,.table-list td.action-column {
    text-align: right;
}
.table-list>tbody>tr{
    height:30px;
    border-bottom: 1px solid #d7e3f0;
}
.table-list td{
    color:#505760;
    padding:5px 10px;
    text-align: left;
    overflow: hidden;
    max-width: 140px;
}
.table-list tr.selected{
    background-color: #d7e3f0;
}

.list-component-link{
    color:#2396ea;
    font-size:14px;
    font-weight: normal;
    text-decoration: none;
}
.right-header-container{
    margin-top:-4px;
}

.right-header-label{
    font-size:14px;
    color:#738092;
    text-align: right;
}
.right-header-text{
    font-size:14px;
    color:#505760;
    font-weight:bold;
    text-align: right;
}

.content-numbering{
    background-color:#35ad98;
    color:white;
    font-weight:bold;
    margin-right:7px;
    padding:5px;
    margin-top:7px;
    font-size:18px;
    width:18px;
    text-align: center;
}

.signature-image{
    width:120px
}
.admin-signature-image{
    width:160px
}

.content-description.center{
    text-align: center
}
.flha-task-title{
    font-size:16px;font-weight:bold;padding-top:5px
}  

.numbered-content{
    max-width: 87%;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}
.modal{
    border-radius: 0px;
    border:none;
    box-shadow: 0px 0px 0px 8px rgba(190,196,211,0.5);    
}
.modal-header{
    text-align: center;
    background-color: #e7eaf2;
    border-bottom:1px solid #bec4d3;
    color:#2a3443;
    font-weight: bold;
}
.modal-header>h4{
    font-size:20px;
}
.modal-body h5{
    color:#858da1;
    font-size:14px;
    font-weight: normal;
}
.modal-body .control-group>label{
    font-size:14px;
    color:#505760;
}
.modal-backdrop{
    background-color: #050d18;
}
.modal-backdrop.fade.in{
    opacity:0.7;
}
.modal-footer{
    text-align: center;
}
.modal-content-description{
    padding: 5px;
    color: #505760;
    font-weight: bold;
}
.export-button{
    margin-right:10px;
}
.required-action-item{
    position:relative;
}
.ui-widget-header{
    background:#2396ea;
    border:1px solid #3d4a5d;
        
}
.required-action-completed-text{
    height:20px;
    padding:7px 0;
}
#mailExportForm #email{
    width:90%;
    resize:vertical;
} 
#useSignatureButton{
    margin-left:145px;
}
#free-trial-countdown{
    position:absolute;
    top:8px; 
    left:190px;
    border-style: solid;
    padding: 3px;
    padding-right:4px;
    border-width: 2px;
    border-color:white;
    text-align:center;
    color:white;
}
#days-remaining{
    text-align:center;
    color:white;
}
.trial-status-warning{
    color: #FF2724;
}
.trial-status-yellow{
    color:#FFF72C;
}
.trial-status-ok{
    color:#3CF53F;
}